---
layout: page
title: Showcase
---

<h2>Lab 1</h2>

In Lab 1, we took a starter application that displayed a unstyled view of the Olin course catalog,
and extended it in boh appearance and functionality.

These are some of the results. All screenshots are from Flask apps that are generating dynamic pages
in response to user interaction.

{% capture image_path_concat %}
  {% for image in site.static_files %}
    {% if image.path contains '/images/showcase/lab1' %}
      :{{ image.path}}
    {% endif %}
  {% endfor %}
{% endcapture %}

{% assign image_paths = image_path_concat | remove_first: ':'  | split: ':' %}

<div class="jumbotron">
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    {% for image in image_paths %}
      <li data-target="#carousel-example-generic" data-slide-to="{{ forloop.index0 }}"{% if forloop.index == 1 %} class="active"{% endif %}></li>
    {% endfor %}
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    {% for image_path in image_paths %}
      <div class="item{% if forloop.index == 1  %} active{% endif %}"/>
      <img src="{{ image_path | strip }}" style="height:450px">
      </div>
    {% endfor %}
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
</div>

<h2>Lab 2</h2>

In Lab 2, we ran our applications in the cloud so that they can be visited at a public URL.

{% include construction %}
