---
layout: page
title: Showcase
weight: 20
---

<dl>
{% assign assignments = (site.assignments | filter: 'lab' | sort: 'lab') %}
{% for assignment in assignments %}
{% if assignment.lab %}

<dt><h2><a href="{{ assignment.url }}">{{ assignment.title }}</a></h2></dt>
<dd><small><i>{{ assignment.due_date | date: '%a, %b %-d' }}</i></small></dd>
<dd>{{ assignment.description }}</dd>

{% if assignment.lab == 1 %}
{% include lab1_showcase.html %}
{% endif %}

{% if assignment.lab == 2 %}
<div class="row">
{% for site in site.data.lab2 %}
<div class="col-lg-3 col-md-4 col-xs-6 thumb">
  <a class="thumbnail" href="{{ site.website_url }}">
  <img src="/images/showcase/lab2/{{ site.image_name }}" class="img-responsive">
</a>
</div>
{% endfor %}
</div>
{% endif %}

{% endif %}
{% endfor %}
</dl>
