# Project dependencies
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git
node_modules

# Build directory
public/

# Caches and logs
.cache/
.eslintcache
yarn-error.log

# macOS
.DS_Store

# private
netlify-local.toml
