/* text */
p, li, dt, dd, h1, h2, h3, h4, h5, h6, blockquote { font-family: 'PT Sans', Helvetica, Arial, sans-serif; }
p, li, dt, dd, blockquote { font-size: 120%; line-height: 1.6; }
dt { font-size: 140%; }
dd { margin-left: 20px; }

blockquote { font-size: 100%; }
cite { float: right; }
cite:before { content: "–"; }

a, a:hover { color: #26aaa5; font-weight: bold; }
a:hover { text-decoration: underline; }

/* headers */
h1, h2, h3, h4, h5, h6 { font-weight: bold; font-style: italic; }
h1 { font-size: 4rem; }
h2 { font-size: 2.82rem; }
h3 { font-size: 2rem; }
h4 { font-size: 1.41rem; }
h5 { font-size: 1rem; }

/* top navbar */
.navbar { border: none; }
.navbar, .navbar-brand img { height: 80px; }
/* to move the logo right and down, remove the following line and change class="container-fluid" to "container" in header.html */
.navbar-brand { padding: 0; }

/* side navbar */
.nav-sidebar {
	padding-top: 15px;
	text-transform: uppercase;
	font-weight: bold;
}
.nav-sidebar a {
	background-color: 1s;
	color: #ccc;
	font-size: 20px;
	transition: color 0.25s;
}
.nav-sidebar li a { padding: 0; line-height: 1.8; }
.nav-sidebar a.active { color: #666; }
.nav-sidebar a:hover { color: black; font-size: 20px; }

.jumbotron {
	position: relative;
	background: url("/images/library-downstairs.jpg") 0 -65px;
	color: #ddd;
	font-weight: 900;
	text-shadow: 3px 3px 0px #000;
}

.jumbotron p {
	opacity: 0;
	transition: opacity 0.25s;
}

.jumbotron:hover p {
	opacity: 1;
}

#course-calendar {
	width: 800px;
	height: 800px;
}

.under-construction {
	font-size: 24px;
}

.nav-sidebar ul.list-inline li a {
	line-height: 1;
}

.final-project-table th {
	font-weight: normal;
	font-style: italic;
	margin-right: 5px;
	vertical-align: top;
}

.final-project-table td {
	padding-right: 25px;
}

.final-project-table .project-name {
	font-weight: bold;
}
