<nav class="navbar navbar-top hidden-xs" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">
        <img alt="Hacking the Library" src="/images/HtL_Banner.svg">
      </a>

      {% comment %}
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="active"><a href="/">Hacking the Library</a></li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
          <li><a href="#">Link</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li class="divider"></li>
              <li><a href="#">Separated link</a></li>
            </ul>
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->
      {% endcomment %}
    </div>
  </div>
</nav>

{% comment %} FIXME DRY w/ copy in sidebar.html {% endcomment %}
<nav class="navbar nav-sidebar hidden-md hidden-lg" role="navigation">
  {% assign pages_list = site.pages | sort: 'url' | sort: 'weight' %}
  <ul class="list-inline">
    <li><a class="{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}">Home</a></li>
    {% for node in pages_list %}
      {% if node.title != null %}
        {% if node.layout == "page" %}
          <li><a class="{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a></li>
        {% endif %}
      {% endif %}
    {% endfor %}
  </ul>
</nav>
