<nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="/" class="brand-logo">{{ site.title }}</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="{{ site.baseurl }}/syllabus/">Syllabus</a></li>
        <li><a href="{{ site.baseurl }}/schedule/">Calendar</a></li>
        <li><a href="{{ site.baseurl }}/assignments/">Assignments</a></li>
        <li><a href="{{ site.baseurl }}/posts/">Blog</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="#">Navbar Link</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>

  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <h1 class="header center orange-text">{{ page.title }}</h1>
      <div class="row center">
        <h5 class="header col s12 light">{{ page.description }}</h5>
      </div>
    </div>
  </div>
