---
layout: default
---

<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li><a href="{% link _pages/assignments.md %}">Assignments</a></li>
  <li class="active">{{ page.title }}</li>
</ol>

<h1>{{ page.title }}</h1>
<p><i>{{ page.description }}</i></p>
<p><i>Due {{ page.time_of_day | default: 'before class' }} on
  {% if page.parts %}
    {{ page.parts[0].due_date | date: '%a, %b %-d' }} – {{ page.parts[-1].due_date | date: '%a, %b %-d' }}
  {% else %}
    {{ page.due_date | date: '%A, %b %-d' }}
  {% endif %}
</i></p>

{{ content }}
